*{
  box-sizing: border-box;
}
.wrap{
  position: relative;
  width: 1000px;
  margin: auto;
}
.wrap-menu{
	max-width: 100%;
	margin: auto;	
}
.wrap img{
  width: 100%;
  max-height: 100%;
}
#nav{
	list-style-type: none;
}
.main-menu{
	position: relative;
	background-color:  #412718;
	padding: 10px 0;
	height: 100px;
}
#nav {
margin: auto;
display: block;
position: absolute;
left: 230px;
}
#nav li{ 
	float: left
}
#nav li:hover{ 
	position: relative 
}
#nav li a {
	color: #fff;
	display: block;
	font-family: inherit;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-align: center;
	text-decoration: none;
	padding: 15px;
	margin-top: 15px; 
}
#nav li:hover a {
background-color: #2b180b;
border-radius: 50%;
}
#nav li ul{
	display: none;
	margin-top: -2px;
	list-style-type: none;
	padding: 10px 5px;
	border-radius: 50%;
}
#nav li:hover ul {
display:block;
position:absolute;
}
#nav li a:hover{ 
	opacity: 0.8; 
}
.menu1 h1{
	 margin: 10px 0 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #412718;
}
h1{
	animation: title 5s linear infinite;
}

@keyframes title {
    0%  {color: #8bc34a;}
    50%  { color: #bdf8bf;}
    100% {color: red;}
}
.cont-dish{
	margin-top:15px;
}
.title-dish{
	border-bottom:1px solid #412718;
	margin-bottom: 15px;
	text-align: center;
}
.title-dish h3 a{
	text-decoration: none;
	text-transform: uppercase;
	color: #c7733c;
	font-weight: bold;
	font-size: 30px;
    font-family: arial;
	}
.thumb{
	width: 33.33%;
	float: left;
	position: relative;
	padding: 10px;
}
.img-production{
	height: 220px;
	border-radius: 10px;
	overflow: hidden;
}
.img-production img{
	transition: all 1s linear;
}
.img-production:hover img{
	transform: scale(1.1);
}
.info-production h4{
    text-align: center;
    font-size: 16px;
    }
.info-production h4 a{
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
    color: #c7733c;
}
.cout-footer{
background-color: #c7733c;
}
.col1{
	width: 33.333%;
	float: left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.main-all{
	overflow:auto;
}
.row1{
	height: 170px;
}
.address h2, .time h2, .hotline h2{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
.time p, .hotline p{
	text-align: center;
}
.backtop{
	position: fixed;
	bottom: 50px;
	right: 50px;
}
.backtop img{
	width: 50px;
	height: 50px;
	float: right;
}