@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}
@mixin square($distance) {
  width: $distance;
  height: $distance;
}
@mixin rotate($degs) {
  -webkit-transform: rotate($degs);
  -moz-transform: rotate($degs);
  -ms-transform: rotate($degs);
  -o-transform: rotate($degs);
  transform: rotate($degs);
}

@mixin user-select($select){
  -webkit-touch-callout: $select; /* iOS Safari */
  -webkit-user-select: $select;   /* Chrome/Safari/Opera */
  -khtml-user-select: $select;    /* Konqueror */
  -moz-user-select: $select;      /* Firefox */
  -ms-user-select: $select;
}
@mixin gradient($topColor, $bottomColor){
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, $topColor),
    color-stop(0.50, $bottomColor)
  );
  background-image: -o-linear-gradient(bottom, $topColor 0%, $bottomColor 50%);
  background-image: -moz-linear-gradient(bottom, $topColor 0%, $bottomColor 50%);
  background-image: -webkit-linear-gradient(bottom, $topColor 0%, $bottomColor 50%);
  background-image: -ms-linear-gradient(bottom, $topColor 0%, $bottomColor 50%);
  background-image: linear-gradient(to bottom, $topColor 0%, $bottomColor 50%);
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

@mixin opacity($value) {
	$IEValue: $value*100;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
	/* IE 5-7 */
	filter: alpha(opacity=$IEValue);
	opacity: $value;
}