 *{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
img {
	max-width: 100%;
    transition: all 0.3s linear;
}
.wrap {
    position: relative;
	margin: auto;
    padding: 15px;
    height: 100%;
}
.content {
    position: relative;
    overflow: auto;

}
.grid {
    float: left;
    padding: 10px;
}

.card {
    position: relative;
   
}


.card img {
	width: 145px;
	height: 265px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(200, 240, 240, .75);
}


.card .back {
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0;
 	}
.card:hover .back{
box-shadow: 0 0 15px 5px rgba(218,81,70,1);	
}
.card:hover .front {
box-shadow: 0 0 15px 5px rgba(218,81,70,1);	

}
.card .back, .card .front{
	transition: all 1s;
	backface-visibility: hidden;
} 
.card.flipped .front{
	transform: rotateY(180deg);
}

.card.flipped .back{
	transform: rotateY(0deg);
}

